<div style="display: flex; flex-direction: column; height: 100%;">

  <div>
    <div style="display: flex; flex-direction: row; width: 100%;">
      <div style="width: 33%; min-width: 500px;">
        <div style="display: flex; flex-direction: column; gap: 4px;">

          <!-- the signed in user's name -->
          <div style="display: flex; gap: 8px;">
            <span>User:</span>
            <span *ngIf="user$ | async as u else elseBlock">{{ u.profile.given_name || u.profile.preferred_username }} {{ u.profile.family_name || '' }}</span>
            <ng-template #elseBlock><em>Not signed in</em></ng-template>
          </div>

          <!-- the user's Access Token -->
          <div style="display: flex; gap: 8px;">
            <span>Access Token:</span>
            <span *ngIf="accessToken$ | async as at" id="access-token">{{ at }}</span>
          </div>

          <!-- sign out -->
          <div style="margin-top: 8px;">
            <button (click)="doSignOut()">Sign Out</button>
          </div>

        </div>
      </div>

      <!-- mouseover and mouse click display component -->
      <div style="width: 66%;">
        <app-map-events-display></app-map-events-display>
      </div>

    </div>
  </div>

  <!-- the map -->
  <div #map class="xmap" id="xmapworks-map" style="flex-grow: 1; margin-top: 8px; margin-bottom: 0px;"></div>

</div>
