

<!-- <style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
</style>

<div class="content" role="main">
  <h1>Welcome to {{title}}!</h1>
  <h2>Start editing to see some magic happen</h2>
</div> -->

<div style="display: flex; flex-direction: column; height: 100%;">

  <div style="margin-left: 8px; margin-right: 8px;">
    <h1>Mapworks Auth Example (Angular)</h1>
  </div>

  <div style="flex-grow: 1; margin: 8px;">
    <router-outlet></router-outlet>
  </div>

</div>
